docker/nifi-flows/test-flow.json
{"externalControllerServices":{},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"28aecddc-232e-318c-8b1d-5272d43a9c25","name":"EvaluateJsonPath","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"7337c63a-39a5-3395-add2-09fb7fc3e58c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"b02dd6d5-018e-3d29-bad1-44c9e39744cb","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":973.0,"y":-41.0},{"x":973.0,"y":9.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"361e9f4c-8430-31f2-a2c3-9b64da56fefe","name":"InvokeHTTP","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"73c53a7f-0166-39e5-8f61-549e068e28a7","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Retry"],"source":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"361e9f4c-8430-31f2-a2c3-9b64da56fefe","name":"InvokeHTTP","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"9cb4c9f7-f620-359f-a0d6-d2c36b79ea5c","name":"output","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"0b3800ad-c83e-394d-b50e-5387de936afc","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"28aecddc-232e-318c-8b1d-5272d43a9c25","name":"EvaluateJsonPath","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"ee9efe76-f817-3883-8dbf-e93f1d83ceba","name":"LogAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"99ff5470-65ee-3b13-b358-b39f4033dd0a","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["No Retry","Failure"],"source":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"361e9f4c-8430-31f2-a2c3-9b64da56fefe","name":"InvokeHTTP","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"b02dd6d5-018e-3d29-bad1-44c9e39744cb","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"8fbad33c-3728-3615-b011-cfbd5e9259a5","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["Response"],"source":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"361e9f4c-8430-31f2-a2c3-9b64da56fefe","name":"InvokeHTTP","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"361e9f4c-8430-31f2-a2c3-9b64da56fefe","name":"InvokeHTTP","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"45cece59-4085-32c9-8bd5-c1c71001df52","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"5bc87f4f-9f25-3b02-95b6-f177e3aee35d","name":"input","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"ee9efe76-f817-3883-8dbf-e93f1d83ceba","name":"LogAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"217a7bea-7d87-3bef-888d-4f845d86055a","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","id":"28aecddc-232e-318c-8b1d-5272d43a9c25","name":"EvaluateJsonPath","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"identifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","inputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"5bc87f4f-9f25-3b02-95b6-f177e3aee35d","name":"input","position":{"x":564.0,"y":-197.0},"type":"INPUT_PORT"}],"labels":[],"name":"testing","outputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"9cb4c9f7-f620-359f-a0d6-d2c36b79ea5c","name":"output","position":{"x":568.0,"y":576.0},"type":"OUTPUT_PORT"}],"position":{"x":3554.0,"y":1455.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":["success"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.13.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"ee9efe76-f817-3883-8dbf-e93f1d83ceba","name":"LogAttribute","penaltyDuration":"30 sec","position":{"x":1151.0,"y":97.0},"properties":{"character-set":"UTF-8","Log Level":"info","attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"displayName":"Log prefix","identifiesControllerService":false,"name":"Log prefix","sensitive":false},"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"Log Level":{"displayName":"Log Level","identifiesControllerService":false,"name":"Log Level","sensitive":false},"attributes-to-ignore-regex":{"displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"name":"attributes-to-ignore-regex","sensitive":false},"Attributes to Ignore":{"displayName":"Attributes to Ignore","identifiesControllerService":false,"name":"Attributes to Ignore","sensitive":false},"Attributes to Log":{"displayName":"Attributes to Log","identifiesControllerService":false,"name":"Attributes to Log","sensitive":false},"attributes-to-log-regex":{"displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"name":"attributes-to-log-regex","sensitive":false},"Log Payload":{"displayName":"Log Payload","identifiesControllerService":false,"name":"Log Payload","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["Original"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.13.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"361e9f4c-8430-31f2-a2c3-9b64da56fefe","name":"InvokeHTTP","penaltyDuration":"30 sec","position":{"x":504.0,"y":-80.0},"properties":{"use-etag":"false","Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://xkcd.com/info.0.json","Content-Type":"${mime.type}","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"Attributes to Send":{"displayName":"Attributes to Send","identifiesControllerService":false,"name":"Attributes to Send","sensitive":false},"use-etag":{"displayName":"Use HTTP ETag","identifiesControllerService":false,"name":"use-etag","sensitive":false},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Proxy Type":{"displayName":"Proxy Type","identifiesControllerService":false,"name":"Proxy Type","sensitive":false},"Basic Authentication Password":{"displayName":"Basic Authentication Password","identifiesControllerService":false,"name":"Basic Authentication Password","sensitive":true},"Connection Timeout":{"displayName":"Connection Timeout","identifiesControllerService":false,"name":"Connection Timeout","sensitive":false},"send-message-body":{"displayName":"Send Message Body","identifiesControllerService":false,"name":"send-message-body","sensitive":false},"set-form-filename":{"displayName":"Set Flowfile Form Data File Name","identifiesControllerService":false,"name":"set-form-filename","sensitive":false},"Always Output Response":{"displayName":"Always Output Response","identifiesControllerService":false,"name":"Always Output Response","sensitive":false},"etag-max-cache-size":{"displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"name":"etag-max-cache-size","sensitive":false},"disable-http2":{"displayName":"Disable HTTP/2","identifiesControllerService":false,"name":"disable-http2","sensitive":false},"idle-timeout":{"displayName":"Idle Timeout","identifiesControllerService":false,"name":"idle-timeout","sensitive":false},"Put Response Body In Attribute":{"displayName":"Put Response Body In Attribute","identifiesControllerService":false,"name":"Put Response Body In Attribute","sensitive":false},"Use Chunked Encoding":{"displayName":"Use Chunked Encoding","identifiesControllerService":false,"name":"Use Chunked Encoding","sensitive":false},"Follow Redirects":{"displayName":"Follow Redirects","identifiesControllerService":false,"name":"Follow Redirects","sensitive":false},"Remote URL":{"displayName":"Remote URL","identifiesControllerService":false,"name":"Remote URL","sensitive":false},"Content-Type":{"displayName":"Content-Type","identifiesControllerService":false,"name":"Content-Type","sensitive":false},"form-body-form-name":{"displayName":"Flowfile Form Data Name","identifiesControllerService":false,"name":"form-body-form-name","sensitive":false},"max-idle-connections":{"displayName":"Max Idle Connections","identifiesControllerService":false,"name":"max-idle-connections","sensitive":false},"invokehttp-proxy-user":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"invokehttp-proxy-user","sensitive":false},"Read Timeout":{"displayName":"Read Timeout","identifiesControllerService":false,"name":"Read Timeout","sensitive":false},"Max Length To Put In Attribute":{"displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"name":"Max Length To Put In Attribute","sensitive":false},"invokehttp-proxy-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"invokehttp-proxy-password","sensitive":true},"ignore-response-content":{"displayName":"Ignore response's content","identifiesControllerService":false,"name":"ignore-response-content","sensitive":false},"Proxy Port":{"displayName":"Proxy Port","identifiesControllerService":false,"name":"Proxy Port","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Digest Authentication":{"displayName":"Use Digest Authentication","identifiesControllerService":false,"name":"Digest Authentication","sensitive":false},"HTTP Method":{"displayName":"HTTP Method","identifiesControllerService":false,"name":"HTTP Method","sensitive":false},"Add Response Headers to Request":{"displayName":"Add Response Headers to Request","identifiesControllerService":false,"name":"Add Response Headers to Request","sensitive":false},"Basic Authentication Username":{"displayName":"Basic Authentication Username","identifiesControllerService":false,"name":"Basic Authentication Username","sensitive":false},"Include Date Header":{"displayName":"Include Date Header","identifiesControllerService":false,"name":"Include Date Header","sensitive":false},"Penalize on \"No Retry\"":{"displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"name":"Penalize on \"No Retry\"","sensitive":false},"Useragent":{"displayName":"Useragent","identifiesControllerService":false,"name":"Useragent","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.13.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"b02dd6d5-018e-3d29-bad1-44c9e39744cb","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":505.0,"y":136.0},"properties":{"test":"testing","Store State":"Do not store state","canonical-value-lookup-cache-size":"100"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"test":{"displayName":"test","identifiesControllerService":false,"name":"test","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["unmatched"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.13.2"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"3d9b7c36-ec18-3dd8-9544-fa59d49b696d","identifier":"28aecddc-232e-318c-8b1d-5272d43a9c25","name":"EvaluateJsonPath","penaltyDuration":"30 sec","position":{"x":512.0,"y":344.0},"properties":{"Destination":"flowfile-content","test":"$.year","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"test":{"displayName":"test","identifiesControllerService":false,"name":"test","sensitive":false},"Return Type":{"displayName":"Return Type","identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{},"snapshotMetadata":{"author":"anonymous","comments":"log success relationship ","timestamp":1659391584403,"version":1}}